@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  overflow: hidden;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Roobert";
  src: url("../src/Fonts/RoobertCollectionVF-TRIAL.ttf");
  font-weight: normal;
}

/* 
Nav Bar
*/

nav {
  width: 100%;
  height: 64px;
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spin-slow {
  animation: spin 85s linear infinite;
}

.spin-medium {
  animation: spin 70s linear infinite;
}

.spin-fast {
  animation: spin 50s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
